<div id="alerts" class="absolute bottom-0 right-0 w-96"></div>

<fieldset>
  <legend>Copy</legend>

  <label>
    Invitation code

    <input value="<%= @invitation_code %>" readonly>
  </label>

  <button type="button" value="<%= @invitation_code %>"
          data-controller="clipboard clone"
          data-clone-append-to-element-value="alerts"
          data-action="click->clipboard#copy click->clone#append">
    Copy to clipboard

    <template data-clone-target="template">
      <div role="alert" class="border border-solid rounded-md m-4 p-4">
        Copied to clipboard
      </div>
    </template>
  </button>
</fieldset>

<fieldset>
  <legend>Paste</legend>

  <label>
    Invitation code
    <input>
  </label>
</fieldset>
